
<div class="container"> 
   
  <span><h2>Forgot Password</h2>  <p>We will be sending a reset password link to your e-mail</p></span>

 
    
  <form [formGroup]="formGroup" (ngSubmit)="resetLink()" class="form">
    <mat-form-field floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="Enter your email" formControlName="useremail">
      
    </mat-form-field>

  
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" >Send</button><br><br>
     
    </div>
   
  </form>
</div>
