<div class="container">
    <div class="links">
        <a href="#"> Disclaimer </a>
        <a href="#"> Terms of Use</a>

        <a href="#"> Downloads</a>

        <a href="#"> IRDAI</a>

        <a href="#"> GST Registration Numbers</a>

        <a href="#"> Privacy Policy</a>

        <a href="#"> Grievance Redressal Policy</a>

        <a href="#" style="border-right: 0px solid #dee2e6 !important"> General</a>
        <div class="borderBottom"></div>
        <p style="margin-top: 25px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias beatae sint rem blanditiis? Quaerat est
            debitis quibusdam minus ipsam illo minima, impedit natus eligendi placeat voluptatem recusandae deleniti
            vel. Praesentium.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque facilis beatae reprehenderit laudantium unde
            eum dignissimos distinctio quisquam labore odio culpa officia cumque quo, impedit ab. Quam fuga molestiae
            provident.
        </p>
    </div>


</div>