<!-- <div id="about" class="about">
    <app-aboutus></app-aboutus>
</div>
<div id="faq" class="faq">
    <app-faqs></app-faqs>
</div>
<div id="contact" class="contact">
    <app-contactus></app-contactus>
</div> -->

<div class="container">
    <div class="links">
        <a href="#"> About Us </a>
        <a href="#"> Contact Us</a>

        <a href="#"> Downloads</a>

        <a href="#faq"> Insurance FAQS</a>

        <div class="borderBottom"></div>
        <p style="margin-top: 25px;">
            2021, LTI General Insurance Company Limited, all rights reserved.
            Registered Office : Mahape, Mumbai , Maharashtra ,India. CINNumber : U85110MH2000PLC128425.
            Registered with IRDA of India Regn. No. 108. Category of Certificate of Registration: General Insurance.
            Insurance is the subject matter of the solicitation.
            For more details on benefits, exclusions, limitations, terms and conditions, please read sales brochure /
            policy wording carefully before concluding a sale.
            Toll Free Number : 1800 266 7780 / 1800 22 9966 (only for senior citizen policy holders). Email Id –
            customersupport@tataaig.com. Fax Number – 022 66938170
        </p>
    </div>


</div>