<div>
    <ng-container>

        <mat-card class="container" style="margin-top: 100px;">

            <div style="text-align: center; font-size: 14px;font-weight: bold; text-align: left;"><h2>Contact Us</h2></div>
            <br>
            <p>24/7 Toll Free Number:</p>
           <h2><p><img src="https://storage.googleapis.com/proudcity/sanrafaelcaemployees/uploads/2019/10/Phone-Icon.jpg" width="25" height="25">1800-266-7780</p></h2>
           <p>Email:</p>
           <h2><p><img src="https://www.pngitem.com/pimgs/m/118-1186475_phone-icon-circle-ltblue-blue-mail-icon-png.png" width="25" heigth="25">customersupport@aig.com</p></h2>
        </mat-card>
    </ng-container>

</div>

