<form #myForm="ngForm" (ngSubmit)="handleOnSubmit(myForm)">
<mat-card class="main">
    <div class="header">
        <h3>Your Vehicle Details</h3>
    </div>
    <mat-grid-list cols="2" rowHeight="120px">
        <!-- <mat-grid-tile *ngFor="let field of vdData | keyvalue"><app-input-field [inputType]="'text'" [inputTitle]="field.key" [inputValue]="field.value"> </app-input-field></mat-grid-tile>
     -->
     <mat-grid-tile>
        <div class="block">
            <label>Registration No</label>     
            <input name="registrationNo" placeholder="Registration No" [(ngModel)]=vehicleInfoModel.registrationNo required disabled>
           </div>
       </mat-grid-tile>
     <mat-grid-tile>
     <div class="block">
     <label>Chassis No</label>     
     <input type="text" name="chasisNo" placeholder="Chassis No" #chasisNo="ngModel" [(ngModel)]=vehicleInfoModel.chasisNo required/>
     <div *ngIf="chasisNo.errors?.required && chasisNo.touched " style="color: red;"> Name can't be empty</div>
    </div>
    
    
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="block">
            <label>Engine No</label>     
            <input name="engineNo" placeholder="Engine No"  #engineNo="ngModel" [(ngModel)]=vehicleInfoModel.engineNo required/>
            <div *ngIf="engineNo.errors?.required && engineNo.touched " style="color: red;">Engine Number Required</div>
           </div>
    </mat-grid-tile>

       <mat-grid-tile>
        <div class="block">
            <label>Maker / Model</label>     
            <input name="makerModel" placeholder="Maker / Model" #markerModel="ngModel" [(ngModel)]=vehicleInfoModel.makerModel required/>
            <div *ngIf="markerModel.errors?.required && markerModel.touched " style="color: red;">Engine Number Required</div>
           </div>
       </mat-grid-tile>

       <mat-grid-tile>
        <div class="block">
            <label>Owner Name</label>     
            <input name="ownerName" placeholder="Owner Name"  #ownerName="ngModel" [(ngModel)]=vehicleInfoModel.ownerName required/>
            <div *ngIf="ownerName.errors?.required && ownerName.touched " style="color: red;">Owner Name required</div>
           </div>
       </mat-grid-tile>

       <mat-grid-tile>
        <div class="block">
            <label>Registration Date <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>  </label>  
               
            <input [matDatepicker]="picker" name="registrationDate" placeholder="Registration Date" #regDate="ngModel" [(ngModel)]=vehicleInfoModel.registrationDate required/>
            <div *ngIf="regDate.errors?.required && regDate.touched " style="color: red;">Registration Date required</div>
        </div>
       </mat-grid-tile>

       <mat-grid-tile>
        <div class="block" style="width: 250px;">
            <label>Vehicle Class</label>     
            <!-- <input  name="vehicleClass" placeholder="Vehicle Class"  [(ngModel)]=vehicleInfoModel.vehicleClass required/> -->  
            <mat-select id="vehicleType" required #vehicleType="ngModel" name="vehicleType" [(ngModel)]=vehicleInfoModel.vehicleClass>
                    <mat-option *ngFor="let type of vehicleClass" value={{type}}>{{type}}</mat-option>
                </mat-select>
                <div *ngIf="vehicleType.errors?.required && vehicleType.touched " style="color: red;">Vehicle Type required</div>
            </div> 
        </mat-grid-tile>
    <mat-grid-tile><button class="btn">Get Prices</button></mat-grid-tile>
    </mat-grid-list>  
    <!--  -->
</mat-card>
</form>