<div>
    <ng-container>

        <mat-card class="container" style="margin-top: 100px;">

            <div style="text-align: center; font-size: 14px;font-weight: bold;"><h1>About Us</h1></div>
            <br>
            <p><img src="https://tata-cms.s3.ap-south-1.amazonaws.com/medium_Group_10761%402x_657ca3309d.png" width="250" height="250 "style="float:right">LTI General Insurance Company Limited is a joint venture between the LTI Group and the American International Group (AIG). LTI General Insurance Company Limited celebrated 20 years of service as on 2020, since it commenced operations on January 22, 2001. The company has made a mark in the industry by launching several innovative products and services over the years. Under its two main business verticals ie Consumer Lines and Commercial Lines, LTI General Insurance Company Limited offers an extensive range of General Insurance covers that cater to various individual and business insurance needs.
                LTI General Insurance Company Limited has an empowered claims team, with a in-house capability of 400 plus experts spread across 90 office in India. The customer service team too, which is the face of the company to the customer, comprises of 450 team members, operating from various offices across India. Today LTI General Insurance Company Limited’s core strength lies in 3 product categories, ie Travel Insurance, Marine Insurance and Liability and the company aims to be the most preferred General Insurance Company in the industry. In order to achieve its vision of being the most preferred general insurance company, LTI General Insurance Company Limited is increasing its general insurance penetration in India with various significant partnerships with leading business names from varied industries.
                The Bancassurance & Affinity team is responsible for initiating and tapping partnerships with Banks, NBFC's, HFC's and other affinity partners. LTI General Insurance Company Limited is also increasing its online presence and has a strategic initiative called ‘Go Digital’ that facilitates ease of buying Insurance products in the digital world. It makes the process from sale to policy issuance effortless.
            </p>
            
                <div style="text-align: center; font-size: 14px;font-weight: bold;"><h1>Our Vision</h1></div>
               <p>To be the leader in the general insurance industry by 2025, by caring for our customers and offering them innovative risk solutions.</p>
               <div style="text-align: center; font-size: 14px;font-weight: bold;"><h1>Our Mission</h1></div>
               <p>Create better tomorrows for our customers by delivering innovative risk solutions and providing peace of mind.</p>
        </mat-card>
    </ng-container>

</div>
