<div>
    <ng-container>

        <mat-card class="container" style="margin-top: 100px;">

            <div style="text-align: center; font-size: 14px;font-weight: bold;"><h1>About Us</h1></div>
            <br>
            <p><img src="https://tata-cms.s3.ap-south-1.amazonaws.com/medium_Group_10761%402x_657ca3309d.png" width="200" height="200 "style="float:right">General Insurance Company is a private sector general insurance company in India to be licensed in January 2021.General Insurance has been providing innovative general insurance solutions to individuals, families and businesses directly as well as through its intermediaries and affinity partners.The Company offers Motor Insurance including 2 Wheeler and 4 Wheeler vehicle
            </p>
            
                <div style="text-align: center; font-size: 14px;font-weight: bold;margin-top: 100px;"><h1>Our Vision</h1></div>
               <p>To be the leader in the general insurance industry by 2025, by caring for our customers and offering them innovative risk solutions.</p>
               <div style="text-align: center; font-size: 14px;font-weight: bold;"><h1>Our Mission</h1></div>
               <p>Create better tomorrows for our customers by delivering innovative risk solutions and providing peace of mind.</p>
        </mat-card>
    </ng-container>

</div>
