<div style="height: 100%;">
  <mat-sidenav-container class="sidenav-container" style="color: #18478b; min-height:auto;">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [ngClass]="{'hidden': !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar *ngIf="!admin">Menu</mat-toolbar>
      <mat-toolbar *ngIf="admin">Dashboard options</mat-toolbar>
      <mat-nav-list>
        <a href="#" mat-list-item *ngIf="!admin">
          <mat-icon>directions_car</mat-icon>
          Buy
        </a>
        <a [routerLink]="['/renewPolicy']" mat-list-item *ngIf="!admin">
          <mat-icon>autorenew</mat-icon>
          Renew
        </a>
        <a href="#" mat-button *ngIf="!admin">
          <i class="fa fa-calculator" aria-hidden="true" style="color: #18478b;"></i>
          Permium Calculator

        </a>
        <a mat-button [routerLink]="['/claimPolicy']" *ngIf="!admin">
          <mat-icon>money</mat-icon>
          Claim
        </a>
        <mat-list-item [matMenuTriggerFor]="menuLogin" *ngIf="!admin && !userLogged">
          <mat-icon>unfold_more</mat-icon>
          <a matline>Login</a>
        </mat-list-item>
        <mat-menu #menuLogin="matMenu" style="color: #18478b;">
          <button mat-menu-item [routerLink]="['/admin_login']">
            <mat-icon>lock</mat-icon>Admin
          </button>
          <button mat-menu-item [routerLink]="['/user_login']">
            <mat-icon>person_pin</mat-icon>User
          </button>
        </mat-menu>
        <br>

        <button mat-button [matMenuTriggerFor]="menu" style="text-align: center" *ngIf="userLogged || admin">
          <mat-icon matPrefix>person_pin</mat-icon><span *ngIf="userLogged">{{userName}}</span>
          <span *ngIf="admin">{{adminName}}</span>

        </button>
        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>Logout
          </button>
          <button mat-menu-item [routerLink]="['/profile']" *ngIf="userLogged">
            <mat-icon>person</mat-icon>Profile
          </button>
          <button mat-menu-item [routerLink]="['/dashboard']" *ngIf="admin">
            <mat-icon>dashboard</mat-icon>Dashboard
          </button>
        </mat-menu>
        <!-- <a href="profile" mat-button *ngIf="userLogged">
          <mat-icon>person</mat-icon>
          Profile
        </a> -->
        <br>

        <!-- <a (click)="drawer.close()" mat-button>
          <mat-icon>close</mat-icon>Close
        </a> -->


      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar style="background-color: #ebecf0; color: #18478b;">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span>General Insurance</span>
        <span class="spacer"></span>
        <div fxHide fxShow.gt-sm>
          <a [routerLink]="['/home']" mat-button *ngIf="!admin">
            <mat-icon> directions_car</mat-icon>
            Buy
          </a>
          <a [routerLink]="['/renewPolicy']" mat-button *ngIf="!admin">
            <mat-icon>autorenew</mat-icon>
            Renew
          </a>
          <a href="#" mat-button *ngIf="!admin">
            <i class="fa fa-calculator" aria-hidden="true"></i>
            Permium Calculator

          </a>
          <a [routerLink]="['/claimPolicy']" mat-button *ngIf="!admin">
            <mat-icon>money</mat-icon>
            Claim
          </a>

          <button mat-button [matMenuTriggerFor]="menuLogin" style="text-align: center" *ngIf="!admin && !userLogged">
            <mat-icon matPrefix>account_box</mat-icon> Login

          </button>
          <mat-menu #menuLogin="matMenu">

            <button mat-menu-item [routerLink]="['/admin_login']">
              <mat-icon>lock</mat-icon>Admin
            </button>
            <button mat-menu-item [routerLink]="['/user_login']">
              <mat-icon>person_pin</mat-icon>User
            </button>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="menu" style="text-align: center" *ngIf="userLogged || admin">
            <mat-icon matPrefix>person_pin</mat-icon><span *ngIf="userLogged">{{userName}}</span>
            <span *ngIf="admin">{{adminName}}</span>

          </button>
          <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>Logout
            </button>
            <button mat-menu-item [routerLink]="['/profile']" *ngIf="userLogged">
              <mat-icon>person</mat-icon>Profile
            </button>
            <button mat-menu-item [routerLink]="['/dashboard']" *ngIf="admin">
              <mat-icon>dashboard</mat-icon>Dashboard
            </button>
          </mat-menu>

          <!-- <a href="profile" mat-button *ngIf="userLogged">
            <mat-icon>person</mat-icon>
            Profile
          </a> -->

        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>


  </mat-sidenav-container>

</div>