<h2 style="text-align: center;">Plan for your {{vehicleName}} </h2>
<div class="main-container">

  <form (ngSubmit)="onHandleSubmit()">
    <mat-card class="example-card" style="max-height: max-;">
      <mat-card-header>
        <mat-card-title>Third Party Plan</mat-card-title>
        <mat-card-subtitle>Only cover third party loses, damage to your vehicle is not covered here</mat-card-subtitle>
      </mat-card-header>

      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
     -->

      <mat-card-content>
        <!-- <label id="example-radio-group-label">Pick your favorite season</label> -->
        
        
        <mat-radio-group name="policy" aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="policyInfo.premiumAmount">
          <div class="optionsBtn" *ngFor="let price of thirdPartyPlanPrice; index as i">
            <div class="left">
              <mat-radio-button class="example-radio-button"  (change)="thirdselected(i)">
                <p>{{price.key}} years</p>
              </mat-radio-button>
            </div>
            <div class="right">
              <h3>₹{{((thirdPartyodValue+450)*price.key).toFixed(2)}}</h3>
            </div>
            <mat-divider></mat-divider>
          </div>

        </mat-radio-group>
        <div class="insuredValue"><b>Insured value :</b> <span><b>{{thirdpartyIdv}}</b></span></div>
        <br>
        <h3 class="premiumCss">AddOns</h3>
        <mat-list *ngFor="let addon of thirdaddons;index as i">
          <mat-checkbox (change)="thirdaddonsAmount(i)" value={{addons.amount}} >
            {{addon.type}} : {{addon.amount}}
          </mat-checkbox>
        </mat-list>
        <div class="insuredValue"><b>GST :</b> <span style="opacity: 0.5;font-weight: bold;">₹{{(((thirdPartyodValue+450)+addonsValue)*thirdplanYear*0.18).toFixed(2)}}</span></div>
        <h3 class="premiumCss">Premium Amount :{{(((thirdPartyodValue+450)+addonsValue)*thirdplanYear+((thirdPartyodValue+450)+addonsValue)*thirdplanYear*0.18).toFixed(2)}}</h3>
        <button class="btn">Buy</button>
      </mat-card-content>

    </mat-card>
  </form>


  <!-- Comprehensice plan -->



  <form (ngSubmit)="onHandleSubmitComprehensive()">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Comprehensive Plan</mat-card-title>
        <mat-card-subtitle>Standard policy cover damages to third-party and covers damages to your own vehicle</mat-card-subtitle>
      </mat-card-header>

      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
         -->

      <mat-card-content>
        <!-- <label id="example-radio-group-label">Pick your favorite season</label> -->
        <mat-radio-group name="policy" aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="compPremium">
          <div class="optionsBtn" *ngFor="let price of comprehensivePlanPrice;index as i">
            <div class="left">
              <mat-radio-button class="example-radio-button"   (change)="selectedyear(i)" >
                <p>{{price.key}} years</p>
              </mat-radio-button>
            </div>
            <div class="right">
              <h3>₹{{((odValue)*price.key).toFixed(2)}}</h3>
            </div>
            <mat-divider></mat-divider>
          </div>

        </mat-radio-group>
        <div class="insuredValue"><b>Insured value :</b> <span style="opacity: 0.5;font-weight: bold;">₹{{idvValue}}</span></div>
        
        <br>
        <h3 class="premiumCss">AddOns</h3>
        <mat-list *ngFor="let addon of addons;index as i">
          <mat-checkbox (change)="compaddonsAmount(i)" value={{addons.amount}}>
            {{addon.type}} : {{addon.amount}}
          </mat-checkbox>
        </mat-list>
        <div class="insuredValue"><b>GST :</b> <span style="opacity: 0.5;font-weight: bold;">₹{{((odValue+addonsValue)*planYear*0.18).toFixed(2)}}</span></div>
        <h3 class="premiumCss">Premium Amount :₹{{((odValue+addonsValue)*planYear+(odValue+addonsValue)*planYear*0.18).toFixed(2)}}</h3>
        
        <button matRipple class="btn">Buy</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>