.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.example-card {
  max-width: 400px;
}
.main {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #ebecf0;
  box-shadow: 3px 5px 6px #ccc;
  align-items: center;
}

example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.optionsBtn {
  display: flex;
  margin-top: 8px;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
  margin-top: 5px;
  margin-left: 150px;
}
.insuredValue {
  margin-top: 20px;
}
.btn {
  margin-top: 30px;
  float: right;
  padding: 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  width: 150px;
  color: #fff;
  border: 0;
  outline: 0;
  transition: transform 0.2s;
  box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
  background: transparent
    linear-gradient(276deg, rgba(13, 53, 148, 0.898039), #35d3e1) 0 0 no-repeat
    padding-box;
}
.btn:hover {
  transform: scale(1.03);
}
.premiumCss {
  margin-top: 20px;
}
