.main-container {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 0;
  background-color: #fff;
  margin-bottom: 50px;
  //padding: 50px;
  width: 400px;
}
.form-container {
  overflow: auto;
  height: 200px;
}
.chat-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: all 0.2s ease-in 0s; //this is the key attribute
  z-index: 9999;
  cursor: pointer;
}
input {
  border: 0;
  outline: 0;
  border-radius: 16px * 20;
  padding: 10px 0 15px 20px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  margin-right: 8px;
  box-shadow: inset 3px 3px 6px #a9adbb, inset -3px -3px 6px #fff;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  overflow: visible;
  font-size: 16px;
  font-weight: 600;
  color: #071e54;
  opacity: 0.8;
  bottom: 0;
  &:focus {
    box-shadow: inset 1px 1px 2px #a9adbb, inset -1px -1px 2px #fff;
  }
}
.content {
  position: relative;
  overflow: auto;
}
