
<div [ngClass]="{'main-container': open==true}" *ngIf="open==true">
    <h1>Chat</h1>
    <div class="form-container">
        
    
        <label for="msg"><b>Message</b></label>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
    
    </div>
        <input type='text'/>
        <button><mat-icon>send</mat-icon></button>
   
</div>
<button mat-fab color="warn" (click)="openChatBot()" class="chat-btn">
    <mat-icon>home</mat-icon>
</button>