<div style="height:450px">
  <form class="head" #docForm="ngForm" (ngSubmit)="upload()">
    <mat-card class="main" style="margin-top:50px;">

      <mat-card-content class="container">
        <p class="segment">Upload the documents to verify the claim</p>
        <label>
          <input type="file" accept="application/pdf,image/jpeg,image/jpg" placeholder="no file uploaded" required
            (change)="onFileChange($event)" />
        </label>
        <button class="btn" type="submit">Upload</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>