$ruler: 16px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;
$formRuler: 32px;

.main {
  max-width: 100%;
  transition: none !important;
  box-shadow: none !important;
  display: flex;
  flex-wrap: wrap;
}
mat-icon {
  vertical-align: middle;
  margin-right: 0.25rem !important;
}
.subtitle{
    padding: 21px 35px;
    color: #3f5fa8;
    flex: 1 1 auto;
    min-height: 1px;
    font-size: 20px;
}
.header-btn {
  border: 0;
  outline: 0;
  padding: 8px 24px;
  //margin-bottom: -10px;
 // margin-top: 10px;
  margin: 60px;
  text-align: center;
  background-color: #f5f5f5;
  color: #264a9f;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
  border-radius: 15px;
  cursor: pointer;
}
.active {
  border-bottom: 5px solid rgba(13, 53, 148, 0.898039);
}
.subhead{
    font-size: 18px;
    color: rgba(7,30,84,.8);
    font-family: Poppins;
    text-align: center;
}
.head{
    color: #264a9f;
    font-size: 32px!important;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins;
    margin-top: 0;
    text-align: center;
    //align-content: center;
}
.content{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.container {
  padding: 10px 35px 10px;

  margin: 12px;
  background-color: $color-bg;
  border-radius: 20px;
  box-shadow: 3px 5px 6px #ccc;
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    display: block;
    font-family: Poppins;
}
label {
  display: block;
  margin-bottom: $ruler * 1.5;
  width: 100%;
}
.segment {
  color: #071e54;
  opacity: 0.5;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 0px 8px 24px;
  font-size: 18px;
}
input {
  border: 0;
  outline: 0;
  border-radius: $ruler * 20;
  padding: 20px 0 15px 20px;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
  margin-right: $ruler/2;
  box-shadow: inset 3px 3px 6px #a9adbb, inset -3px -3px 6px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  overflow: visible;
  font-size: 16px;
  font-weight: 600;
  color: #071e54;
  opacity: 0.8;
  &:focus {
    box-shadow: inset 1px 1px 2px #a9adbb, inset -1px -1px 2px $color-white;
  }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #071e54;
  opacity: 0.3;
  font-size: 13px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #071e54;
  opacity: 0.3;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #071e54;
  opacity: 0.3;
}
.btn {
  float: right;
  padding: 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  max-width: 150px;
  color: $color-white;
  border: 0;
  outline: 0;
  transition: transform 0.2s;
  box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
  background: transparent
    linear-gradient(276deg, rgba(13, 53, 148, 0.898039), #35d3e1) 0 0 no-repeat
    padding-box;
}
.btn:hover {
  transform: scale(1.03);
}
.navicon {
  color: #fff;
}
