
<div>
<mat-card class="container" style="margin-top: 100px;" *ngFor="let p of policy; index as i;">

    
        <div *ngIf="!p.expired" style="text-align: center; font-size: 16px;font-weight: bold;">Policy for {{p.vehicle.makerModel}}</div>
        <div *ngIf="p.expired" style="text-align: center; font-size: 16px;font-weight: bold;">Insurance expired for {{p.vehicle.makerModel}}</div>
        <!-- <div *ngIf="Math.floor(( p.policyEndDate-p.policyStartDate ) / 86400000)<=30" style="text-align: center; font-size: 10px;font-weight: bold;">
            Policy is going to expire in {{Math.floor(( p.policyEndDate-p.policyStartDate ) / 86400000)}} days
        </div> -->
        <br>
    
    <mat-card-content >
        <br>
        <mat-list-item *ngIf="show[i]">
            <mat-list-item role="listitem"> Vehicle Registration Number: {{p.vehicle.registrationNo}}</mat-list-item>
            <br>
            <mat-list-item role="listitem">PlanType: {{p.planType}} </mat-list-item>
            <br>
            <mat-list-item role="listitem"> PremiumAmount: {{p.premiumAmount}}</mat-list-item>
            <br>
            <mat-list-item role="listitem"> InsuranceAmount: {{p.insuranceAmount}}</mat-list-item>
            <br>
  
            <mat-list-item role="listitem"> PolicyStartDate: {{p.policyStartDate}}</mat-list-item>
            <br>
            <mat-list-item role="listitem"> PolicyEndDate: {{p.policyEndDate}}</mat-list-item>
            <br>
  
            <mat-list-item role="listitem"> PlanYear: {{p.planYear}}</mat-list-item>
            <br>
  
            <mat-list-item role="listitem"></mat-list-item>
        </mat-list-item>
        
    </mat-card-content>
    <mat-card-actions >
        <button class="btn" style="text-align:right" mat-button (click)="Open(i)" *ngIf="show[i]">Hide</button>
        <button class="btn" style="text-align:right" mat-button (click)="Open(i)" *ngIf="!show[i]">Show</button>
        <button class="btn" style="text-align:right" mat-button (click)="renew(p.policyId)" *ngIf="p.expired">Renew</button>

      </mat-card-actions>
    
</mat-card>

</div>