<form class="head" [formGroup]="vehicleRegForm" (ngSubmit)="goForRegistration()">
<mat-card class="main">
  <mat-card-header>
    <mat-card-actions>
      <button type="button" [ngClass]="{'active':activeBtn1}" class="header-btn" (click)="changeVehicle('4 wheeler')"><mat-icon> directions_car</mat-icon>4 Wheeler</button>
      <button type="button" [ngClass]="{'active':activeBtn2}" class="header-btn" (click)="changeVehicle('2 wheeler')"><mat-icon>motorcycle</mat-icon>2 Wheeler</button>
    </mat-card-actions>
  </mat-card-header>
<mat-card-content class="container"> 
    <p class="segment">Your {{typeOfVehicle}} registration number</p>   
    <label>        
      <input type="text" placeholder="MH01AB1234" formControlName="regNo"/>
      <mat-error *ngIf="submitted && vehicleRegForm.controls['regNo'].invalid">
        {{getError('registrationNo')}}
      </mat-error>
    </label>


  
    <button matRipple class="btn" type="submit">Get Quotes<mat-icon class="navicon">navigate_next</mat-icon></button>    
</mat-card-content>
</mat-card>
</form>
