
<!-- 
<mat-card  class="example-ripple-container mat-elevation-z4"
matRipple
[matRippleCentered]="centered"
[matRippleDisabled]="disabled"
[matRippleUnbounded]="unbounded"
[matRippleRadius]="radius"
[matRippleColor]="color">
    <mat-card-title>Block #{{blockData.blockNumber}}</mat-card-title>
    <p>{{blockData.transactions | json}}</p>
    <p>PrevBlock: {{blockData.previousBlock}}</p>
      <p>Hash: {{blockData.blockHash}}</p>
  </mat-card> -->
<div>
    Hello
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards"  >
    <mat-card fxFlex="25" matRipple>
        cLaims for Approval

    </mat-card>
    <mat-card fxFlex="25" matRipple>
        claims Approved
    </mat-card>
    <mat-card fxFlex="25" matRipple>
        No .of policies running
    </mat-card>
    <mat-card fxFlex="25" matRipple>
        No .of policies expired
    </mat-card>
    
    <mat-card fxFlex="25" matRipple>
        admin details
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>


<br>
<br>
<br>

