

<div class="container"> 
   
    <span><h2>Reset Your Password</h2> </span>
  
  <form [formGroup]="formGroup" (ngSubmit)=" resetPassword()" class="form">
  
   <mat-form-field floatLabel="never" class="form-element">
    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter Password" formControlName="password"  >
       <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       <mat-error *ngIf="!formGroup.controls['password'].valid">
        {{getError('pass')}}
     
      </mat-error>
   </mat-form-field>

   <mat-form-field floatLabel="never" class="form-element">
    <input [type]="hide1 ? 'password' : 'text'" matInput placeholder="Confirm Password" formControlName="confirmPassword"  >
    <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
   <div class="form-element">
     <button mat-raised-button color="primary" >Change Password</button>
   </div>
  </form>
  </div>
  