<div class="container"> 
   
  <h2 *ngIf="!this.admin"><span>Login</span></h2>
  <h2 *ngIf="this.admin"><span>Admin Login</span></h2>

<form [formGroup]="formGroup" (ngSubmit)="loginCheck()" class="form">

 <mat-form-field floatLabel="never" class="form-element">
   <input type="text" matInput placeholder="Username" formControlName="useremail">
   <mat-error *ngIf="formGroup.controls['useremail'].invalid">
     {{getError('user')}}
   </mat-error>
 </mat-form-field>

 <mat-form-field floatLabel="never" class="form-element">
   <input type="password" matInput placeholder="Password" formControlName="password"  >
   
   <mat-error *ngIf="!formGroup.controls['password'].valid">
     {{getError('pass')}}
  
   </mat-error>
 </mat-form-field>

 <div class="form-element">
   <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid" >Login</button><br><br>
   <button mat-stroked-button color="primary"  [routerLink]="['/forgotpassword']">Forgot password</button>
   <button mat-stroked-button color="primary" [routerLink]="['/user_registration']" *ngIf="!admin">Sign up</button>
 </div>
 <div *ngIf="invalid">
  <span style="color: red;">Invalid credentials..!</span>
 </div>

</form>
</div>
